header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: rgb(39, 38, 38);
}

.logo {
    color: rgb(209, 155, 55);
    letter-spacing: 2.4px;
    font-family: 'Aleo';
    font-style: normal;
}

.nav {
    display: flex;

    &__list {
        display: flex;
        gap: 2rem;
        color: white;
        margin-top: 2.9%;
    }

    &__li {
        color: white;
        list-style: none;
    }

    &__link {
        color: white;
        text-decoration: none;
        font-size: 50px;
    }
}

.menu-toggle {
    cursor: pointer;
    font-size: 24px;
    display: none;
}

.nav__list.active {
    display: flex;
    flex-direction: column;
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
    top: calc(100% + 10px);
    left: 0;
    background-color: #333333;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

.nav__list li {
    list-style: none;
    margin-bottom: 10px;
}

.nav__list a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav__list a:hover {
    color: rgb(209, 155, 55);
    ;
}

.nav__link {
    display: flex;
}

.menu-toggle {
    display: none;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #fff;
    background-color: rgb(39, 38, 38);
    z-index: 1;
}

.nav__li:hover .submenu {
    display: block;
}

.submenu li {
    display: block;
    align-items: center;
    margin: 5px;
    padding: 5px;
    
}


@media screen and (max-width: 768px) {
    .nav__list {
        display: none;
    }

    .nav__link {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}